.questionary-action(*ngIf="questionary != null")
  h2
    | {{questionary.code}} - {{questionary.text}}
  button((click)="addStep()")
    | + Step
  button((click)="addMatch()")
    | + Match
  .step-navigator-wrapper
    .step-navigator
      ol(*ngIf="questionary.steps != null")
        li(*ngFor="let s of questionary.steps", (click)="actionStep(s)", [class.selected]="currentStep == s")
          .step-navigator-item
            | {{s.text}}
  step-action(*ngIf="currentStep != null", [step]="currentStep")
