h2
  | Edit Logic
.row
  .col-sm-12
    tree-view(*ngIf="jsonLogic != null", [root]='jsonLogic')
    .form
      .row
        .form-group
          button.btn.btn-default.btn-login( (click)="create()" type='button')
            | Create 
          button.btn.btn-default.btn-login( (click)="cancel()" type='button')
            | Cancel
