.taken-quiz-history(*ngIf="takenQuiz != null")
  .taken-quiz-questionary(*ngIf="questionary != null")
    h2
      | {{questionary.code}} - {{questionary.text}}
  .selections-navigator-wrapper()
    .selections-navigator
      .table-responsive
        table.table
          thead
            tr
              th
                | Question
              th
                | Value
              th
                | Actions
          tbody(*ngIf="selections != null")
            tr(*ngFor="let s of selections")
              td
                span(*ngIf="s.question != null")
                  | {{s.question.code}}
              td
                span(*ngIf="s.option != null")
                  | {{s.option.text}}
              td
                a.btn.btn-default()
                  | e
                a.btn.btn-default()
                  | x
