
<div class="heading-main" *ngIf="takenQuiz != null">
  <div class="container">
    <h1>Taking (<span class="heading-target" *ngIf="questionary != null">{{questionary.code}} : {{questionary.text}}</span>)</h1>
  </div>
</div>
<div class="container" *ngIf="takenQuiz != null">
  <div class="row">
    <div class="col-sm-12">
      <div class="step-navigator-wrapper" *ngIf="questionary != null">
        <div class="step-navigator">
          <ol *ngIf="questionary.groups != null &amp;&amp; currentGroup != null">
            <li *ngFor="let s of questionary.groups" [class.selected]="currentGroup.id == s.id">
              <div class="step-navigator-item">{{s.label.data}}</div>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12"> 
      <div class="question-display" *ngIf="question != null">
        <div class="question">
          <div class="question-code">{{question.code}}</div>
          <div class="question-text">{{question.label.data}}</div>
          <div class="question-body">
            <div class="type-radio" *ngIf="question.type=='selection &amp;&amp; question.subType = 'simple'">
              <div class="question-options">
                <ul class="question-options-list" *ngIf="question.options != null">
                  <li class="question-option" *ngFor="let o of question.options" [class.selected]="currentOption == o">
                    <label>{{o.label.data}}
                      <input type="radio" [value]="o.id" [name]="'radioName'" (click)="beforeAddAnswer(o);">
                    </label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="type-level" *ngIf="question.type=='selection' &amp;&amp; question.subType='level'">
              <div class="question-options">
                <div class="question-level text-center" *ngIf="question.options != null">
                  <select [(ngModel)]="data.value" (change)="beforeAddAnswer(null)">
                    <option disabled>Select a value</option>
                    <option *ngFor="let l of getArrayLevel()" [value]="l">{{l}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="type-remark" *ngIf="question.type=='remark'">
              <div class="question-options">
                <div class="question-remark">
                  <button (click)="beforeAddAnswer(null)">Continue</button>
                </div>
              </div>
            </div>
            <div class="type-remark" *ngIf="question.type=='input' &amp;&amp; question.subType='text'">
              <div class="question-options">
                <div class="question-text">
                  <textarea [(ngModel)]="data.text"></textarea>
                  <button (click)="beforeAddAnswer(null)">Continue</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>