.heading-main(*ngIf="takenQuiz != null")
  .container
    h1
      | Taking (
      span.heading-target(*ngIf="questionary != null")
        | {{questionary.code}} : {{questionary.text}}
      | )
.container(*ngIf="takenQuiz != null")
  .row
    .col-sm-12
      .step-navigator-wrapper(*ngIf="questionary != null")
        .step-navigator
          ol(*ngIf="questionary.groups != null && currentGroup != null")
            li(*ngFor="let s of questionary.groups", [class.selected]="currentGroup.id == s.id")
              .step-navigator-item
                | {{s.label.data}}

  .row
    .col-sm-12 
      .question-display(*ngIf="question != null")
        .question
          .question-code
            | {{question.code}}
          .question-text
            | {{question.label.data}}
          .question-body
            .type-radio(*ngIf="question.type=='selection && question.subType = 'simple'")
              .question-options
                ul.question-options-list(*ngIf="question.options != null")
                  li.question-option(*ngFor="let o of question.options", [class.selected]="currentOption == o")
                    label
                      | {{o.label.data}}
                      input(type="radio",[value]='o.id',[name]="'radioName'", (click)="beforeAddAnswer(o);")

            .type-level(*ngIf="question.type=='selection' && question.subType='level'")
              .question-options
                .question-level.text-center(*ngIf="question.options != null")
                  select([(ngModel)]="data.value", (change)="beforeAddAnswer(null)")
                    option(disabled)
                      | Select a value
                    option(*ngFor="let l of getArrayLevel()", [value]="l")
                      | {{l}}

            .type-remark(*ngIf="question.type=='remark'")
              .question-options
                .question-remark
                  button((click)="beforeAddAnswer(null)")
                    | Continue

            .type-remark(*ngIf="question.type=='input' && question.subType='text'")
              .question-options
                .question-text
                  textarea([(ngModel)]="data.text")
                  button((click)="beforeAddAnswer(null)")
                    | Continue

