
<div class="questionary-action" *ngIf="questionary != null">
  <h2>{{questionary.code}} - {{questionary.text}}</h2>
  <button (click)="addStep()">+ Step</button>
  <button (click)="addMatch()">+ Match</button>
  <div class="step-navigator-wrapper">
    <div class="step-navigator">
      <ol *ngIf="questionary.steps != null">
        <li *ngFor="let s of questionary.steps" (click)="actionStep(s)" [class.selected]="currentStep == s">
          <div class="step-navigator-item">{{s.text}}</div>
        </li>
      </ol>
    </div>
  </div>
  <step-action *ngIf="currentStep != null" [step]="currentStep"></step-action>
</div>