.tree-view
  tree-node([node]="root",(selectedNode)="handleSelectedNode($event)", [currentNode]='currentNode')

//-.logic-add 
  //-select(([ngModel])='newType')
    //-option(disabled)
      //-| Choose a type
    //-option(*ngFor="let tt of getTargetTypes()")
      //-| {{tt}}

  //-.add-match-logic(*ngIf="newType == 'match'")
    //-select(([ngModel])='newType')
      //-option(disabled)
        //-| Choose a type
      //-option(*ngFor="let tt of getTargetTypes()")
        //-| {{tt}}


