
<div class="heading-main">
  <div class="container">
    <h1>Add Question</h1>
  </div>
</div>
<div class="container main-content"></div>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="form-inline">
      <div class="form-group">
        <label>Code: 
          <input class="form-control" [(ngModel)]="question.code" type="text">
        </label>
        <label>Type: 
          <select class="form-control" [(ngModel)]="question.type">
            <option *ngFor="let t of getQuestionTypes()" [value]="t">{{t}}</option>
          </select>
        </label>
        <label>Text: 
          <input class="form-control" [(ngModel)]="question.text" type="text">
        </label>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <button class="btn btn-default btn-login" (click)="create()" type="button">Create </button>
        <button class="btn btn-default btn-login" (click)="cancel()" type="button">Cancel</button>
      </div>
    </div>
  </div>
</div>