
<div class="login-form" fxFlex="100" fxLayout="column">
  <md-toolbar>Login</md-toolbar>
  <div class="form-group" fxLayoutAlign="center center" fxLayout="column">
    <div class="input-row">
      <md-input-container>
        <input mdInput placeholder="Email" [(ngModel)]="user.email">
      </md-input-container>
    </div>
    <div class="input-row">
      <md-input-container>
        <input mdInput type="password" placeholder="Password" [(ngModel)]="user.password">
      </md-input-container>
    </div>
    <div class="input-row">
      <button md-button color="primary" (click)="login()">Login</button>
    </div>
  </div>
</div>